<?xml version="1.0"?>
<launch>
  <!-- Load panda demo with MTC's execution capability -->
  <include file="$(find interbotix_xslocobot_moveit)/launch/xslocobot_moveit.launch">
    <arg name="use_fake" value="true"/>
      <arg name="use_moveit_rviz" value="false"/>
  </include>
  <param name="move_group/capabilities" value="move_group/ExecuteTaskSolutionCapability" />

  <!-- <param name="locobot/move_group/capabilities" value="move_group/ExecuteTaskSolutionCapability" /> -->

  <!-- Run rviz with prepared config -->
   <include  file="$(find interbotix_xslocobot_moveit)/launch/moveit_rviz.launch">
  <!-- <include ns="locobot" file="$(find interbotix_xslocobot_moveit)/launch/moveit_rviz.launch"> -->
    <arg name="rviz_config" value="$(find moveit_task_constructor_demo)/config/mtc.rviz" />
  </include>
</launch>
